:root {
    --bk-green: #5cb85c;
    --bk-background: #2b3e50;
    --bk-text: #ebebeb;
    --bk-link: wheat;
  }


body{
    font-family: "Helvetica Neue";
    font-size: 15px;
    line-height: 1.42857143;
    color: var(--bk-text);
    background-color: var(--bk-background);
    font-weight: 300;
    margin: 0.5em;
    position: relative;
}
h1{
    text-align: center;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
div{
    font-family: inherit;
}

p{
    margin: 1em 2em;
}

.bkgreen {
    color: var(--bk-green);
}
footer{
    margin-top: 10%;
 }
footer::after{
    margin-top: 10%;
    content: "hosted on github pages";
}

a{
    color: var(--bk-link);
}
a:visited{
    color: var(--bk-link);
}

.articleDate{
    position: absolute;
    top: 1em;
    right: 3em;
    margin: 1em;
}
.articleDate::before{
    content: "posted ";
}